<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <h1>Lec02 GET!</h1>
  ユーザー名 <div sec:authentication="name"></div>
  <p>
  <div>
    じゃんけん
    <a href="/lec02janken?hand=Gu">ぐー</a>
    <a href="/lec02janken?hand=Choki">ちょき</a>
    <a href="/lec02janken?hand=Pa">ぱー</a>
  </div>
  <div th:if="${hand}">
    あなたの手 [[${hand}]]
    <div th:if="${cpu}">
      相手の手 [[${cpu}]]
    </div>
    <div th:if="${Win}">
      結果 [[${Win}]]
    </div>
    <div th:if="${Lose}">
      結果 [[${Lose}]]
    </div>
    <div th:if="${Draw}">
      結果 [[${Draw}]]
    </div>
  </div>
  </p>

  <p th:if="${matches}">
  <div th:each="match,stat:${matches}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>ユーザ1ID:[[${match.user1}]]</td>
      <td>ユーザ2ID:[[${match.user2}]]</td>
      <td>ユーザ1の手:[[${match.user1Hand}]]</td>
      <td>ユーザ2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

  エントリー
  <div th:if="${entry}">
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <p th:if="${users}">
  <div th:each="user,stat:${users}">
    <tr>
      <td>ID:[[${user.id}]]</td>
      <td>ユーザ名:<a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></td>
    </tr>
  </div>
  </p>

  <div><a href="/logout">ログアウト</a></div>
</body>

</html>
