<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href='/logout'>ログアウト</a></div>
  <h1>Lec02 GET!</h1>
  Hi <span sec:authentication="name"></span>

  <h2>エントリー</h2>
  <p th:if="${users}">
  <div th:each="user,stat:${users}">
    <tr>
      <td>ID:[[${user.id}]]</td>
      <td>ユーザ名:<a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></td>
    </tr>
  </div>
  </p>

  <h2>アクティブな試合</h2>
  <p th:if="${actives}">
  <div th:each="active,stat:${actives}">
    <tr>
      <td>ID:[[${active.id}]]</td>
      <td>ユーザ1ID:[[${active.user1}]]</td>
      <td>ユーザ2ID:[[${active.user2}]]</td>
      <td>isActive:[[${active.isActive}]]</td>
    </tr>
  </div>
  </p>

  <h2>試合結果</h2>
  <p th:if="${matches}">
  <div th:each="match,stat:${matches}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>ユーザ1ID:[[${match.user1}]]</td>
      <td>ユーザ2ID:[[${match.user2}]]</td>
      <td>ユーザ1の手:[[${match.user1Hand}]]</td>
      <td>ユーザ2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
