<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Match</h1>

  <h2><span sec:authentication="name"></span> V.S. <span th:if="${user}">[[${user.name}]]</span></h2>

  <p>
  <div>
    <a th:href="@{/matchjanken(id1=${me.id},id2=${user.id},hand=Gu)}">ぐー</a>
    <a th:href="@{/matchjanken(id1=${me.id},id2=${user.id},hand=Choki)}">ちょき</a>
    <a th:href="@{/matchjanken(id1=${me.id},id2=${user.id},hand=Pa)}">ぱー</a>
  </div>
  </p>
  <div><a href="/lec02">もどる</a></div>
</body>

</html>
